/* ======================formbutton======================================= */

.formbutton {
  text-align: center;
  font-size: 50px;
}
.formbutton > button {
  font-size: 1.5rem;
}

/* ===================for dashboard==========================*/
.dashboard {
  display: flex;
  height: 100vh;
}
.dashboard__sidebar {
  border-right: 1px solid rgb(130, 130, 231);
  background-color: #343a40;
  flex: 0.2;
  max-width: 200px;
}
.child {
  flex: 0.8;
  right: 0;
  overflow-y: scroll;
}
.child::-webkit-scrollbar {
  display: none;
}
@media (max-width: 768px) {
  .child {
    flex: 1;
  }
}
