.blogs {
  padding: 20px;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}
.blogs__card {
  margin-bottom: 50px;
  box-shadow: 5px 5px 7px 7px rgba(0, 0, 0, 0.24);
  color: #fff;
}
.blogs__header {
  font-size: 30px;
}

.card-img {
  height: 350px !important;
  max-width: 100% !important;
  margin-top: 10px;
  border-radius: 10px !important;
}

.blockquote-footer {
  display: flex !important;
  /* justify-content: space-between; */
}
.blog__footerbottom {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
